[Unit]
Description=mule updater

[Service]
Type=simple
ExecStart=/root/github_repository/mule_autoupdater/mule.sh
Restart=always
RestartSec=11100

[Install]
WantedBy=multi-user.target